body {
  background-color: #ffd700;

}

p{
  font-family: fantasy;
  color: #dc143c;
  text-align: center;
  font-size: 42px;
}

h1 {
  text-align: center;
  color: #dc143c;
  font-family: fantasy;
  font-size: 60px;
}

.cup {
  text-decoration: underline;
}

img {
  border: 8px solid #dc143c;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 300px;
  height: 375px;
  border-style: ridge;
}

button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px solid #fa8072;
  border-radius: 5px;
  background: #ffe4e1 ;
  font-family: fantasy;
  text-decoration: underline;
  cursor: pointer;
}

hr {
  border: 1px solid #dc143c;
}

.result {
  font-family: fantasy;
  color: #663399;
  text-align: center;
  font-size: 42px;
}
